<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
	<title>Contact</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href='{% static "Music/contact/images/icons/favicon.ico"%}'/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Music/contact/vendor/bootstrap/css/bootstrap.min.css"%}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Music/contact/fonts/font-awesome-4.7.0/css/font-awesome.min.css"%}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Music/contact/fonts/Linearicons-Free-v1.0.0/icon-font.min.css"%}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Music/contact/vendor/animate/animate.css"%}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Music/contact/vendor/css-hamburgers/hamburgers.min.css"%}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Music/contact/vendor/animsition/css/animsition.min.css"%}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Music/contact/vendor/select2/select2.min.css"%}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Music/contact/vendor/daterangepicker/daterangepicker.css"%}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "Music/contact/css/util.css"%}'>
	<link rel="stylesheet" type="text/css" href='{% static "Music/contact/css/main.css"%}'>
<!--===============================================================================================-->
</head>
<body>
{% load static %}
	{% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">{{user.username}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
		{% endif %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">HOME</a>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MUSIC-DATA
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'library' %}">LIBRARY</a>
            <a class="dropdown-item" href="#">SUBSCRIPTIONS</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">SETTING</a>
            </div>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
            </li>
            <li class="nav-item">
            <a class="nav-link " href="{% url 'contact' %}">CONTACT</a>
            </li>
			</li>
            <li class="nav-item">
            <a class="nav-link " href="../logout">LOGOUT</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="POST">
				{% csrf_token %}
				<span class="contact100-form-title">
					Send Us A Message
				</span>

				<label class="label-input100" for="first-name">Tell us your name *</label>
				<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
					<input id="first-name" class="input100" type="text" name="first-name" placeholder="First name">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
					<input class="input100" type="text" name="last-name" placeholder="Last name">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email">Enter your email *</label>
				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="phone">Enter phone number</label>
				<div class="wrap-input100">
					<input id="phone" class="input100" type="text" name="phone" placeholder="Eg. +1 800 000000">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="message">Message *</label>
				<div class="wrap-input100 validate-input" data-validate = "Message is required">
					<textarea id="message" class="input100" name="message" placeholder="Write us a message"></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<input class="contact100-form-btn" type="submit" value="Send Message">
				</div>
			</form>

			<div class="contact100-more flex-col-c-m">
				<div class="flex-w size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-map-marker"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Address
						</span>

						<span class="txt2">
							Nek Chand Tower-2 Boys Hostel, Chandigarh University
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-phone-handset"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							Lets Talk
						</span>

						<span class="txt3">
							+91 9997481571
						</span>
					</div>
				</div>

				<div class="dis-flex size1 p-b-47">
					<div class="txt1 p-r-25">
						<span class="lnr lnr-envelope"></span>
					</div>

					<div class="flex-col size2">
						<span class="txt1 p-b-20">
							General Support
						</span>

						<span class="txt3">
							jain22719@gmail.com
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src='{% static "Music/contact/vendor/jquery/jquery-3.2.1.min.js"%}'></script>
<!--===============================================================================================-->
	<script src='{% static "Music/contact/vendor/animsition/js/animsition.min.js"%}'></script>
<!--===============================================================================================-->
	<script src='{% static "Music/contact/vendor/bootstrap/js/popper.js"%}'></script>
	<script src='{% static "Music/contact/vendor/bootstrap/js/bootstrap.min.js"%}'></script>
<!--===============================================================================================-->
	<script src='{% static "Music/contact/vendor/select2/select2.min.js"%}'></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src='{% static "Music/contact/vendor/daterangepicker/moment.min.js"%}'></script>
	<script src='{% static "Music/contact/vendor/daterangepicker/daterangepicker.js"%}'></script>
<!--===============================================================================================-->
	<script src='{% static "Music/contact/vendor/countdowntime/countdowntime.js"%}'></script>
<!--===============================================================================================-->
	<script src='{% static "Music/contact/js/main.js" %}'></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>
</body>
</html>
